body{
  background:linear-gradient(#eaff8a, #d28c1d, #a44a25, #ee2c47);
  font-family:Arial;
}
.hauptt{

 font-size:25px;
 padding-top:5px;
 text-align:center;
}
.ht{
  text-decoration:underline;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbut{
  background-color: #333;
  color:white;
  border:none;
  font-size: 20px;
  float: right;
  overflow: hidden;
  padding: 14px 16px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .navbut:hover {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.ffb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  width: 100%;
}
.infotext{
  padding-left: 50px;
  padding-right: 50px
}
.fahrzeuge{
  padding-left: 50px;
}
.fahrzeuge a{
  color: #befbff;
  text-decoration: none;
}
.lf{
  padding-left: 50px;
}
.tlf{
  padding-left: 50px;
}
.mtf{
  padding-left: 50px;
}
.atv{
  padding-left: 50px;
}
#lf86th{
  border-color: black;
  border-width: 5px;
  border-style:ridge;
}
#tlf2050cafs{
  border-color: black;
  border-width: 5px;
  border-style:ridge;
}
#mtfbergfelde{
  border-color: black;
  border-width: 5px;
  border-style:ridge;
}
#atv{
  border-color: black;
  border-width: 5px;
  border-style:ridge;
}
.hauptt button{
  border-radius:20px;
  border:5px solid red;
  width: 180px;
  height: 40px;
  background: darkorange;
  color: blue;
}
.over-us{
  font-size: 17px;
}
