body{
  background:linear-gradient(#FAC000, #FF7500, #FC6400, #D73502, #B62203, #801100);
  font-family:Arial;
}
.haupt{
  background:;
  height:100px;
  margin-left:30px;
  margin-right:30px;
  margin-bottom:20px;
}
.haupt img{
  max-width:100%
}
.hauptt{
text-decoration:underline;
 font-size:25px;
 padding-top:5px;
 text-align:center;

}
.ht{

}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbut{
  background-color: #333;
  color:white;
  border:none;
  font-size: 20px;
  float: right;
  overflow: hidden;
  padding: 14px 16px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .navbut:hover {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Feuerwehrauswahl{
    background:#d3d3d3;
    width: 50%;
    padding: 20px;
    border: 2.5px solid darkorange;
    border-radius: 8px;
    padding-bottom: 70px;
}
